
HSIOCP/.vs/HSIOCP/v15/.suo
HSIOCP/.vs/HSIOCP/v15/Browse.VC.db
HSIOCP/.vs/HSIOCP/v15/ipch/9abedc77635f02e8.ipch
HSIOCP/.vs/HSIOCP/v15/ipch/AutoPCH/30371a51c24b0c0b/IOCPSERVER.ipch
HSIOCP/.vs/HSIOCP/v15/ipch/AutoPCH/30486cb6b9ba9df4/LOGMANAGER.ipch
HSIOCP/.vs/HSIOCP/v15/ipch/AutoPCH/3e9534c17ccc86e/PACKET.ipch
HSIOCP/.vs/HSIOCP/v15/ipch/AutoPCH/68096f3fcdb471d5/PERFORMANCE.ipch
HSIOCP/.vs/HSIOCP/v15/ipch/AutoPCH/771e866c07b35c46/CHATSERVER.ipch
HSIOCP/.vs/HSIOCP/v15/ipch/AutoPCH/7e26e4415fa13165/CHATSERVER.ipch
HSIOCP/.vs/HSIOCP/v15/ipch/AutoPCH/822009cd7397278/PERFORMANCE.ipch
HSIOCP/.vs/HSIOCP/v15/ipch/AutoPCH/93faca6a787e6cb/MESSAGEMANAGER.ipch
HSIOCP/.vs/HSIOCP/v15/ipch/AutoPCH/9c7b5ccc8976bfe6/CHATSERVER.ipch
HSIOCP/.vs/HSIOCP/v15/ipch/AutoPCH/ae9b76f0e76b94f6/MAIN.ipch
HSIOCP/.vs/HSIOCP/v15/ipch/AutoPCH/b9e01b85b36e3fa4/CHATPACKETPROCESSER.ipch
HSIOCP/.vs/HSIOCP/v15/ipch/AutoPCH/ca61f8cbdd266a71/CHATUSER.ipch
HSIOCP/.vs/HSIOCP/v15/ipch/AutoPCH/ceeb0e17866ff3d6/MAIN.ipch
HSIOCP/.vs/HSIOCP/v15/ipch/AutoPCH/cf8dd0de01d62bb1/RINGBUFFER.ipch
HSIOCP/.vs/HSIOCP/v15/ipch/AutoPCH/d36d41dee8e59708/CHATPACKETCOMMANDER.ipch
HSIOCP/.vs/HSIOCP/v15/ipch/AutoPCH/e42b6e488cbfac4/MESSAGEPOOL.ipch
HSIOCP/.vs/HSIOCP/v15/ipch/AutoPCH/ea396cc024da71ff/STDAFX.ipch
HSIOCP/.vs/HSIOCP/v15/ipch/AutoPCH/f1bcd57d0ece4ab5/CONNECTION.ipch
HSIOCP/.vs/HSIOCP/v15/Solution.VC.db
HSIOCP/Bin/HSIOCP.exe
HSIOCP/Bin/HSIOCP.iobj
HSIOCP/Bin/HSIOCP.ipdb
HSIOCP/Bin/HSIOCP.pdb
HSIOCP/Bin/HSIOCP_d.exe
HSIOCP/Bin/HSIOCP_d.ilk
HSIOCP/Bin/HSIOCP_d.pdb
HSIOCP/Bin/NetLib.lib
HSIOCP/Client/Bin/ChatClient.exe
HSIOCP/Client/Bin/ChatClient.exe.config
HSIOCP/Client/Bin/ChatClient.pdb
HSIOCP/Client/Bin/Z.ExtensionMethods.dll
HSIOCP/Client/Bin/Z.ExtensionMethods.pdb
HSIOCP/Client/Bin/Z.ExtensionMethods.xml
HSIOCP/Client/Bin_DummyClient/log.txt
HSIOCP/Client/ChatClient/.vs/ChatClient/v15/.suo
HSIOCP/Client/ChatClient/.vs/ChatClient/v15/Server/sqlite3/db.lock
HSIOCP/Client/ChatClient/.vs/ChatClient/v15/Server/sqlite3/storage.ide
HSIOCP/Client/ChatClient/.vs/ChatClient/v15/Server/sqlite3/storage.ide-shm
HSIOCP/Client/ChatClient/.vs/ChatClient/v15/Server/sqlite3/storage.ide-wal
HSIOCP/HSIOCP/x64/Debug/ChatServer.obj
HSIOCP/HSIOCP/x64/Debug/HSIOCP.log
HSIOCP/HSIOCP/x64/Debug/HSIOCP.tlog/CL.command.1.tlog
HSIOCP/HSIOCP/x64/Debug/HSIOCP.tlog/CL.read.1.tlog
HSIOCP/HSIOCP/x64/Debug/HSIOCP.tlog/CL.write.1.tlog
HSIOCP/HSIOCP/x64/Debug/HSIOCP.tlog/HSIOCP.lastbuildstate
HSIOCP/HSIOCP/x64/Debug/HSIOCP.tlog/link.command.1.tlog
HSIOCP/HSIOCP/x64/Debug/HSIOCP.tlog/link.read.1.tlog
HSIOCP/HSIOCP/x64/Debug/HSIOCP.tlog/link.write.1.tlog
HSIOCP/HSIOCP/x64/Debug/HSIOCP_d.Build.CppClean.log
HSIOCP/HSIOCP/x64/Debug/Main.obj
HSIOCP/HSIOCP/x64/Debug/vc141.idb
HSIOCP/HSIOCP/x64/Debug/vc141.pdb
HSIOCP/HSIOCP/x64/Release/ChatServer.obj
HSIOCP/HSIOCP/x64/Release/HSIOCP.Build.CppClean.log
HSIOCP/HSIOCP/x64/Release/HSIOCP.log
HSIOCP/HSIOCP/x64/Release/HSIOCP.tlog/CL.command.1.tlog
HSIOCP/HSIOCP/x64/Release/HSIOCP.tlog/CL.read.1.tlog
HSIOCP/HSIOCP/x64/Release/HSIOCP.tlog/CL.write.1.tlog
HSIOCP/HSIOCP/x64/Release/HSIOCP.tlog/HSIOCP.lastbuildstate
HSIOCP/HSIOCP/x64/Release/HSIOCP.tlog/HSIOCP.write.1u.tlog
HSIOCP/HSIOCP/x64/Release/HSIOCP.tlog/link.command.1.tlog
HSIOCP/HSIOCP/x64/Release/HSIOCP.tlog/link.read.1.tlog
HSIOCP/HSIOCP/x64/Release/HSIOCP.tlog/link.write.1.tlog
HSIOCP/HSIOCP/x64/Release/Main.obj
HSIOCP/HSIOCP/x64/Release/vc141.pdb
HSIOCP/NetLib/x64/Release/stdafx.obj
HSIOCP/NetLib/x64/Release/RingBuffer.obj
HSIOCP/NetLib/x64/Release/NetLib.tlog/NetLib.lastbuildstate
HSIOCP/NetLib/x64/Release/NetLib.tlog/Lib.command.1.tlog
HSIOCP/NetLib/x64/Release/NetLib.tlog/Lib-link.write.1.tlog
HSIOCP/NetLib/x64/Release/NetLib.tlog/Lib-link.read.1.tlog
HSIOCP/NetLib/x64/Release/NetLib.tlog/CL.write.1.tlog
HSIOCP/NetLib/x64/Release/NetLib.tlog/CL.read.1.tlog
HSIOCP/NetLib/x64/Release/NetLib.tlog/CL.command.1.tlog
HSIOCP/NetLib/x64/Release/NetLib.pdb
HSIOCP/NetLib/x64/Release/NetLib.pch
HSIOCP/NetLib/x64/Release/NetLib.log
HSIOCP/NetLib/x64/Release/NetLib.Build.CppClean.log
HSIOCP/NetLib/x64/Release/MessagePool.obj
HSIOCP/NetLib/x64/Release/LogManager.obj
HSIOCP/NetLib/x64/Release/IOCPServer.obj
HSIOCP/NetLib/x64/Release/Connection.obj
HSIOCP/NetLib/x64/Debug/NetLib_d.Build.CppClean.log
HSIOCP/NetLib/x64/Debug/NetLib.tlog/NetLib.lastbuildstate
HSIOCP/NetLib/x64/Debug/NetLib.tlog/Lib.command.1.tlog
HSIOCP/NetLib/x64/Debug/NetLib.tlog/Lib-link.write.1.tlog
HSIOCP/NetLib/x64/Debug/NetLib.tlog/Lib-link.read.1.tlog
HSIOCP/NetLib/x64/Debug/NetLib.tlog/CL.write.1.tlog
HSIOCP/NetLib/x64/Debug/NetLib.tlog/CL.read.1.tlog
HSIOCP/NetLib/x64/Debug/NetLib.tlog/CL.command.1.tlog
HSIOCP/NetLib/x64/Debug/NetLib.log
